@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-height {
    min-height: calc(100vh - 92px);
  }
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap");

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  transition: 0.3s;
} */
html {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  transition: 0.3s;
}

body {
  overflow-x: hidden;
  background-color: rgba(238, 238, 238, 0.4);
}
:root {
  --color-orange: #faba42;
  --color-pink: #bb84ee;
  --color-black: #34404a;
  --color-black-light: #27282d;
  --color-background: #f9f6f4;
  --border: rgb(219, 219, 219);
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 35px;
  width: 200px;
  padding: 20px 29px;
  right: -15px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: 0.2s ease-in;
}

.dropdown-menu:before {
  content: "";
  position: absolute;
  top: -7px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
}

.dropdown-menu.active {
  visibility: visible;
  opacity: 1;

  transform: translateY(30px);
}

/* .dropdown-menu.inactive {
  visibility: hidden;
  opacity: 0;

  transform: translateY(30px);
} */
